* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    background: #0b132b;
    color: #ffffff;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #0b132b;
    padding: 30px 20px;
    position: fixed;
}

.brand {
    color: #5BC0BE;
    margin-bottom: 40px;
}

.sidebar nav a {
    display: block;
    color: #ffffff;
    text-decoration: none ;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.sidebar nav a:hover {
    color: #5bc0be;
}

#menu-toggle{
    display: none;
}

/* Main */
main {
    margin-left: 220px;
    width: calc(100% - 220px);
}

/* Hero */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(180deg,  #6fa2dd,#0b132b);
}

.hero-role {
    font-size: 1.2rem;
    font-weight: 500;
}

.hero-text {
    margin: 10px 200px 10px 200px;
    font-size: 1rem;
    font-weight: 300;
}
.hero img {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin-bottom: 30px;
    transition: transform 0.3s;
    border: 4px solid #5F9CA2;
}

.hero img:hover {
    transform: translateY(-7px);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.4),
        0 0 25px rgba(39, 6, 100, 0.5);
}

/* Sections */
section {
    padding: 60px 10%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #5bc0be;
}

#about p {
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    max-width: 700px;
    color: ali;

}



#Education {
    background-color: #1c254175;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #5bc0be ;
    
}

#Education:hover {
     box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.4),
        0 0 25px rgba(91, 192, 190, 0.5);
}

#Education h3{
    margin-bottom: 10px;
    font-weight: 600;
    color: #a1e0de;

}

#Education li {
    margin-bottom: 5px;
    color:#ffffff;
}


#Education ul {
    list-style-type: none;
} 
 
/* DONUT SKILL CHARTS */

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 30px;
    margin-top: 30px;
    text-align: center;
}

.skill-card h3 {
    margin-top: 15px;
    color: #FFFFFF;
}

/* Donut */
.donut {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    --percent: 0;
    background: conic-gradient(
        #5BC0BE calc(var(--percent) * 1%),
        #1C2541 0
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

/* inner hole */
.donut::before {
    content: "";
    width: 85px;
    height: 85px;
    background: #0B132B;
    border-radius: 50%;
    position: absolute;
}

.donut span {
    position: relative;
    font-weight: bold;
    color: #5BC0BE;
}



.bar div {
    height: 100%;
    width: 0;
    background: #3a86ff;
    transition: width 1s ease;
}

/* Projects */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    
}
.project:last-child {
    grid-column: 1 / -1;     
    justify-self: center;     
    max-width: 600px;         
}

.project {
    background: #1c2541;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    border: 1px solid #5bc0be ;
}


.project:hover {
    transform: translateY(-7px);
     box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.4),
        0 0 25px rgba(91, 192, 190, 0.5);
}

.project h3 {
    margin-bottom: 5px;
}

.project p {
    margin-bottom: 5px;
}
/* Contact */
form {
    max-width: 500px;
    margin: 0 auto ;
    
}

#contactForm button {
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 20px;
    text-align: center;

    display: block;        
    margin: 20px auto;       
    width: 100%;             
    max-width: 300px;        
}



input, textarea {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 7px;
    border: none;
    background: #5bc0be;
    cursor: pointer;
}

button:hover {
    background: #3a86ff;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #1c2541;
}

footer a {
    color: #FFFFFF;
}

footer a:hover{
    color: #3a86ff;
}

/* Responsive */
@media (max-width: 768px) {

    #menu-toggle {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        font-size: 1.6rem;
        background: #5bc0be;
        color: #0b132b;
        border: none;
        padding: 6px 12px;
        z-index: 3000;
        cursor: pointer;
        border-radius: 5px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        height: 100vh;
        background: #0b132b;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 2000;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    main {
        margin-left: 0;
        width: 100%;
    }
    .hero-text {
        margin: 0 auto;
    }
}

